<div class ="container">
  <div class="card mb-4">
      <div class="card-header">
        <h5>{{post.title}}</h5>
      </div>
      <div class="card-body">
        <p>{{post.content}}</p>
        <p class="text-muted" style ="font-size:smaller">posted by {{post.user.username}} on {{post.created_at}}, 
           {{#if post.vote_count}}
           {{post.vote_count}} upvotes
           {{else}}
           0 upvote
           {{/if}}
           | 
           <a href="/post/{{post.id}}">
             {{#if post.Comments.length}}
             {{post.Comments.length}} comments
             {{else}}
             0 comment
             {{/if}}
           </a>
        </p>
      </div>
  </div>
  {{#if loggedIn}}
  <div class="mb-5">
    <form class="comment-form">
      <div class="form-group">
        <textarea class="form-control" id="comment-body" rows="5" placeholder="add comment"></textarea>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="upvote">
        <label class="form-check-label" for="upvote">Upvote</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </form>
  </div>
  {{/if}}
  <div>
    <h5 class="border-bottom pb-1">Previous Comments</h5>
    {{#each post.Comments}}
    <section class="mb-2 comment">
      <div class="text-muted px-4 pt-1" style ="font-size:smaller">
        {{user.username}} on {{created_at}}
      </div>
      <div class="text px-4 pb-1">
        {{comment_text}}
      </div>
    </section>
    {{/each}}
  </div>
</div>
{{!-- link in the javascripts --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

